.boe {
  background-color: white;
  height: 300px;
  position: relative;
}
* {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
::-webkit-scrollbar {
  height: 0;
}
.lbtn {
  display: flex;
  position: absolute;
  left: 18%;
  top: 39%;
  z-index: 3;

  height: 100px;
}
.rbtn {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 39%;
  z-index: 3;
  height: 100px;
}
.btnleft11 {
  background-color: #6b63ff89;
  color: black;
  border: none;
}
.btnleft11:hover {
  background-color: black;
  color: aliceblue;
}

.tagboe {
  /* position: absolute; */
  width: 250px;
  height: inherit;
  position: absolute;
  /* position: relative; */
  background-image: url("../assets/Banner/boe1.svg");
  background-size: 100%;
  background-position-y: 134px;

  background-repeat: no-repeat;
  background-color: none;
  border-radius: 0 10px 10px 0;
}
.boeitem {
  position: relative;
  display: flex;
  padding-left: 50px;
  justify-items: center;
  align-items: center;
  left: 18%;
  box-shadow: inset -5px 5px 10px -5px #6c63ff, inset -5px -5px 10px -5px #6c63ff;

  justify-content: space-between;

  overflow-x: scroll;
  padding-right: 300px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  flex-wrap: nowrap;
}
.boei {
  height: 300px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
.boei img {
  /* width: 200px; */
  max-width: 200px;
  height: 180px;
  /* height: auto; */
  margin-top: 20px;
}
.boei p {
  margin-bottom: 0;
  /* position: absolute; */
  display: flex;
  margin-top: -6px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  bottom: 0;
}
.itemdetails {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  bottom: 0;
}
.tagboe p {
  margin-top: 20px;
  font-size: 32px;
  color: #6c63ff;
  font-weight: 500;
}
@media only screen and (max-width: 360px) {
  .boeitem {
    padding-right: 0px;
    left: 0%;
    padding-left: 20px;
  }
  .tagboe {
    display: none;
  }
  .boei img {
    max-width: 100px;
    height: 100px;
  }
  .btnleft11 {
    display: none;
  }
  .boei {
    height: 200px;
    margin-right: 10px;
    margin-right: 30px;
  }
  .boei p {
    margin-bottom: 0;
    margin-top: -6px;
    font-size: 10px;
    top: 10%;
  }
  .boe {
    height: 175px;
  }
  .itemdetails {
    width: 200px;
    bottom: 10%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .boeitem {
    padding-right: 0px;
    left: 0%;
    padding-left: 20px;
  }
  .tagboe {
    display: none;
  }
  .boei img {
    max-width: 100px;
    height: 100px;
  }
  .btnleft11 {
    display: none;
  }
  .boei {
    height: 200px;
    margin-right: 10px;
    margin-right: 30px;
  }
  .boei p {
    margin-bottom: 0;
    margin-top: -6px;
    font-size: 10px;
    /* top: 5%; */
  }
  .boe {
    height: 180px;
  }
  .itemdetails {
    width: 200px;
    /* bottom: 40%; */
    bottom: 10% !important;
  }
}
