.slide1 {
  height: 300px !important;
  margin-top: 5px;
}
.inner1 {
  height: 300px !important;
}
@media only screen and (max-width: 360px) {
  .slide1 {
    height: 100px !important;
    margin-top: 5px;
  }
  .inner1 {
    height: 100px !important;

    justify-content: center;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .slide1 {
    height: 100px !important;
    margin-top: 5px;
  }
  .inner1 {
    height: 100px !important;

    justify-content: center;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}
